#!/usr/bin/env bash

set -euo pipefail

{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}
if [[ ! -e "$HOME/.config/nvim" ]]; then
  mkdir -p "$HOME/.config"
  git clone git@github.com:jyuvaraj03/yuvim.git "$HOME/.config/nvim"
fi
{{ end }}
